 <launch>
 <!-- <include file="$(find turtlebot_bringup)/launch/minimal.launch"></include> -->

   <!-- <include file="$(find turtlebot_bringup)/launch/3dsensor.launch">
     <arg name="rgb_processing" value="false" />
     <arg name="depth_registration" value="false" />
     <arg name="depth_processing" value="false" />
     <arg name="scan_topic" value="/scan" />
   </include> -->

   <!-- Map server -->
   <!-- <arg name="map_file" default="your_map_folder/your_map_file.yaml"/> -->
   <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" /> -->

   <!-- Localization -->
   <!-- <arg name="initial_pose_x" default="0.0"/> -->
   <!-- <arg name="initial_pose_y" default="0.0"/> -->
   <!-- <arg name="initial_pose_a" default="0.0"/> -->
   <!-- <include file="$(find turtlebot_navigation)/launch/includes/amcl.launch.xml"> -->
     <!-- <arg name="initial_pose_x" value="$(arg initial_pose_x)"/> -->
     <!-- <arg name="initial_pose_y" value="$(arg initial_pose_y)"/> -->
     <!-- <arg name="initial_pose_a" value="$(arg initial_pose_a)"/> -->
   <!-- </include> -->

   <!-- Move base -->
   <!-- <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml"/> -->

  <node name="mbf_experimental_nav" pkg="mbf_experimental_nav" type="mbf_experimental_nav" required="true" output="screen">
    <!-- <rosparam file="$(find turtlebot3_navigation)/param/costmap_common_params_$(arg model).yaml" command="load" ns="global_costmap" /> -->
    <!-- <rosparam file="$(find turtlebot3_navigation)/param/costmap_common_params_$(arg model).yaml" command="load" ns="local_costmap" /> -->
    <!-- <rosparam file="$(find turtlebot3_navigation)/param/local_costmap_params.yaml" command="load" /> -->
    <!-- <rosparam file="$(find turtlebot3_navigation)/param/global_costmap_params.yaml" command="load" /> -->
    <!-- <rosparam file="$(find turtlebot3_mbf)/param/move_base.yaml" command="load"/> -->
    <rosparam file="$(find mbf_experimental_nav)/param/params.yaml" command="load" />
    <param name="base_global_planner" value="mbf_experimental_core/ExperimentalPlanner"/>

  </node>

 </launch>